spring:
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: validate
  session:
    store-type: hash_map


  thymeleaf:
    mode: HTML5
    suffix: .html
    prefix: classpath:/templates/
  profiles:
    active: docker
logging:
  level:
    org.hibernate.SQL: debug